<ion-header>
  <ion-toolbar>
    <ion-title>Criar uma Nova Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
        <ion-label position="floating">Nome da Sala</ion-label>
        <ion-input></ion-input>
      </ion-item>

    <ion-item>
        <ion-label position="floating">Max de Jogadores</ion-label>
        <ion-input></ion-input>
      </ion-item>

    <ion-item>
        <ion-label position="floating">Tema</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-grid>
<ion-grid>

      <ion-button 
      expand="block"
      shape="round"
      fill="outline"
      style="margin-bottom: 20px"
      (click)="Cadpersona()"
      color="medium">Cadastrar</ion-button>
  
    </ion-grid>  
    

</ion-content>
