<ion-header>
  <ion-toolbar>
    <ion-title>Criar uma Nova Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Nome da Sala</ion-label>
        <ion-input></ion-input>
      </ion-item>

    <ion-item>
        <ion-label position="floating">Max de Jogadores</ion-label>
        <ion-input></ion-input>
      </ion-item>

    <ion-item>
        <ion-label position="floating">Tema</ion-label>
        <ion-input></ion-input>
      </ion-item>

    

</ion-content>
