<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro do Personagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-item>
            <ion-label position="floating">Nome do personagem</ion-label>
            <ion-input></ion-input>
          </ion-item>
         
            
    </ion-row>
     <ion-grid>
      <ion-row>
          
<ion-item>
    <ion-label position="floating">Classe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
<ion-item>
    <ion-label position="floating">Raça</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
<ion-item>
    <ion-label position="floating">Sexo</ion-label>
    <ion-input></ion-input>
  </ion-item>
          
      </ion-row>
    
    </ion-grid>
  
  </ion-content>
  
<ion-content>
    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="medium">Cadastrar</ion-button>

</ion-content>
