<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro do Personagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
      <ion-input>Nome:</ion-input>
    </ion-row>
    <ion-item text-center>
  
    </ion-item>
    <ion-grid>
      <ion-row class="atributos">
          <ion-input> Classe:</ion-input>
          <ion-input> Raça:</ion-input>
          <ion-input> Sexo:</ion-input>
      </ion-row>
    
    </ion-grid>
  
  </ion-content>
  
<ion-content>

</ion-content>
