<ion-header>
  <ion-toolbar color="dark">
    <ion-title>LOBBY DE SALAS</ion-title>
  </ion-toolbar>
</ion-header>

<!--Linkar nome do mestre que criou, max de jogadores e tema na descrição da sala-->
<!--Ao selecionar uma sala, redirecionar para a tela (selectpersona)-->

<ion-content>
    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="light">SALA 1 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="light">SALA 2 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="light">SALA 3 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="light">SALA 4 do mestre "fulano" sobre "tal coisa"</ion-button>


</ion-content>
