<ion-header>
  <ion-toolbar>
    <ion-title>LOBBY DE SALAS</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Linkar nome do mestre que criou, max de jogadores e tema  -->

<ion-content>
    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="medium">SALA 1 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="medium">SALA 2 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="medium">SALA 3 do mestre "fulano" sobre "tal coisa"</ion-button>

    <ion-button 
    expand="block"
    shape="round"
    fill="outline"
    style="margin-top: 20px"
    (click)="Cadpersona()"
    color="medium">SALA 4 do mestre "fulano" sobre "tal coisa"</ion-button>


</ion-content>
