<ion-header>
        <ion-toolbar class="texttop">
          <ion-title>Seleção de Sala</ion-title>
        </ion-toolbar>
      </ion-header>
<ion-content>
  
    <ion-button 
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="light"
        >CRIAR SALA
    </ion-button>

    <!--Redirecionar para tela de criação de sala (criasala)-->

    <ion-button  
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="light"
        >ENTRAR EM UMA SALA
    </ion-button>

    <ion-fab 
      vertical="bottom"
      horizontal="start" 
      slot="fixed">
        <ion-fab-button
        routerLink="/"
        color="medium">
          <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
    </ion-fab>
</ion-content>

<!--Redirecionar para tela de seleçao de sala (lobby)-->
