<ion-header>
  
</ion-header>

<ion-content>
  
    <ion-button 
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="medium"
        >CRIAR SALA
    </ion-button>

    <!--Redirecionar para tela de criação de sala (criasala)-->

    <ion-button 
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="medium"
        >ENTRAR EM UMA SALA
    </ion-button>
</ion-content>

<!--Redirecionar para tela de seleçao de sala (lobby)-->
