<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cadastro do Personagem</ion-title>
  </ion-toolbar>
</ion-header>



          <!--Quando clicar em registrar, verificar se todos os campos estão preenchidos-->
          <!--Redirecionar para a tela de seleção de personagens (selectpersona)--><!--Redirecionar para a tela de seleção de personagens (selectpersona)-->






<ion-content padding>
    <ion-title class="text"
    >Bio</ion-title>
    <ion-row>
        <ion-item>
            <ion-label class="text" position="floating">Nome do Personagem</ion-label>
            <ion-input></ion-input>
          </ion-item>
    </ion-row>
    

<ion-grid>



  <ion-row>

    <ion-item>
      <ion-label class="text" position="floating">Classe</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="text" position="floating">Raça</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="text" position="floating">Sexo</ion-label>
      <ion-input></ion-input>
   </ion-item>

   <ion-item>
      <ion-label class="text" position="floating">Altura</ion-label>
      <ion-input></ion-input>
   </ion-item>  

   <ion-item>
     <ion-label class="text" position="floating">Peso</ion-label>
     <ion-input></ion-input>
   </ion-item>  

   <ion-item>
     <ion-label class="text" position="floating">Idade</ion-label>
     <ion-input></ion-input>
   </ion-item>

  </ion-row>


  <ion-title class="text"
  >Atributos</ion-title>


  <ion-row>
    <ion-item>
      <ion-label class="text" position="floating">Força</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Habilidade</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Resistência</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text" position="floating">Defesa</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="text" position="floating">Poder de fogo</ion-label>
      <ion-input></ion-input>
    </ion-item>
  



  </ion-row>

    
</ion-grid>

    <ion-button 
      expand="block"
      shape="round"
      fill="outline"
      style="margin-bottom: 20px"
      color="light"
      >Cadastrar</ion-button>
  
      <ion-fab 
      vertical="bottom"
      horizontal="start" 
      slot="fixed">
       <ion-fab-button
       routerLink="/selectpersona"
       color="medium">
       <ion-icon name="arrow-round-back"></ion-icon>
       </ion-fab-button>
     </ion-fab>

</ion-content>
  



