//ion-content {
//   --ion-background-color: var(--ion-color-dark-tint)
//}

.logo {
    color: black;
    font-size: 100pt
}

h1, h6 {
    text-align: center;
    color: black;
}

.inputStyle {
    background-color: gray;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 30px;
    ion-icon {
        margin-top: 10px;
    }
}