<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>



<!--Ao clicar em "entrar", redirecionar para a tela inicial (home)-->
<!--Ao clicar em "registrar", redirecionar para a tela de cadastro (register)-->



<ion-content padding>
  <ion-item text-center>
    <ion-label>
      <ion-icon name="book" class="logo"></ion-icon>
    </ion-label>
  </ion-item>

  <h1>SARPG</h1>
  <h6></h6>

  <ion-grid>
    <ion-row class="inputStyle">
      <ion-icon name="mail"></ion-icon>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-icon name="key"></ion-icon>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-row>
  </ion-grid>

  <ion-button 
  expand="block"
  shape="round"
  fill="outline"
  style="margin-top: 20px"
  (click)="login()"
  color="medium">
  Entrar</ion-button>



      <ion-button class="cinza">
      registrar</ion-button>
</ion-content>
