<ion-content padding>
  <ion-item text-center>
    <ion-label>
      <img src="assets/icon/SARPGlogo.png">
    </ion-label>
  </ion-item>


  <h6>Faça seu login.</h6>

  <ion-grid>
    <ion-row class="inputStyle">
      <ion-icon name="mail"></ion-icon>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-icon name="key"></ion-icon>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-row>
  </ion-grid>

  <ion-button 
      expand="block"
      shape="round"
      fill="outline"
      style="margin-top: 20px"
      (click)="login()"
      color="light">Entrar</ion-button>

      <ion-button 
          expand="block"
          shape="round"
          fill="outline"
          style="margin-top: 20px"
          routerLink="/register"
          color="light">Registrar</ion-button>
</ion-content>
