<ion-app>
  <ion-split-pane>
      <ion-menu side="start" menuId="custom" class="my-custom-menu">
          <ion-header>
            <ion-toolbar color="Dark">
              <ion-title>Jogador</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-button
                color="dark"
                shape="round"
                fill="outline"
                size="large"
                expand="block"
              >Status</ion-button>
              <ion-button
                color="dark"
                shape="round"
                fill="outline"
                size="large"
                expand="block"
              >Atributos</ion-button>
              <ion-button
                color="dark"
                shape="round"
                fill="outline"
                size="large"
                expand="block"
              >Itens</ion-button>
            </ion-list>
          </ion-content>
        </ion-menu>
        
      
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
