<ion-header>
  <ion-toolbar>
    <ion-title>Personagem</ion-title>
  </ion-toolbar>
</ion-header>


<!--Ao clicar no botão (ITENS) redirecionar para a tela (telajogadoritens) que também está vinculada ao jogador-->


<ion-content>

  <ion-row>
    <ion-item>STATUS:</ion-item>
  </ion-row>
  
  <ion-grid>
    <ion-row class="atributos">
      <ion-item>
        <ion-label>Pontos de vida=</ion-label>
      </ion-item>
        <ion-input> </ion-input>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row class="atributos">
        <ion-item>
          <ion-label>Pontos de Magia=</ion-label>
        </ion-item>
          <ion-input> </ion-input>
      </ion-row>
    </ion-grid>

  <ion-grid>
    <ion-row class="atributos">
      <ion-item>
        <ion-label>Fadiga=</ion-label>
      </ion-item>
        <ion-input> </ion-input>
    </ion-row>
  </ion-grid>
 
 
 
 
  <ion-row>
      <ion-item>ATRIBUTOS:</ion-item>
  </ion-row>

  <ion-grid>
      <ion-row class="atributos">
        <ion-item>Força=</ion-item>
          <ion-input> </ion-input>
      </ion-row>
  </ion-grid>

  <ion-grid>
        <ion-row class="atributos">
          <ion-item>Agilidade=</ion-item>
            <ion-input> </ion-input>
        </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="atributos">
      <ion-item>Inteligência=</ion-item>
        <ion-input> </ion-input>
    </ion-row>
  </ion-grid>
   
  <ion-grid>
      <ion-row class="atributos">
        <ion-item>Resistência=</ion-item>
          <ion-input> </ion-input>
      </ion-row>
  </ion-grid>
     
  <ion-grid>
      <ion-row class="atributos">
        <ion-item>Poder de Fogo=</ion-item>
          <ion-input> </ion-input>
      </ion-row>
  </ion-grid> 
      
   

</ion-content>







<ion-router-outlet main></ion-router-outlet>