<ion-header>
  <ion-toolbar>
    <ion-title>Seleção de Personagens</ion-title>
  </ion-toolbar>
</ion-header>

<!--Ao selecionar personagem redirecionar para a tela (telajogador)-->



<ion-content>
          
      <ion-card>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Personagem 1</ion-label>
          <ion-button fill="outline" slot="end">Selecionar</ion-button>
        </ion-item>
      
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Observações</ion-label>
                <ion-input></ion-input>
              </ion-item>
          Descrição do personagem
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Personagem 2</ion-label>
            <ion-button fill="outline" slot="end">Selecionar</ion-button>
          </ion-item>
        
          <ion-card-content>
              <ion-item>
                  <ion-label position="floating">Observações</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              Descrição do personagem
          </ion-card-content>
        </ion-card>
      
      
</ion-content>
