

<ion-content>

    <ion-button 
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="medium"
        >SOU JOGADOR
    </ion-button>

    <!--Redirecionar para a tela de lobby-->

    <ion-button 
        expand="block"
        shape="round"
        fill="outline"
        style="margin-top: 20px"
        (click)="Cadpersona()"
        color="medium">
        SOU MESTRE
    </ion-button>
    <!--Redirecionar para a tela de escolha se vai criar ou entar em uma sala (selectsala)-->

</ion-content>
